<div class="container home-color">
	<div class="row">
		<div class="col-2 lorem">
			<h1>It's Your Love.<br>Tell Your Story.</h1>

			<a href="/products" class="btn-1">Get Started</a>
		</div>
		<div class="col-2">
			<img src="https://res.cloudinary.com/coder-nhatpro/image/upload/v1603504743/book3_hvghcq.jpg">
		</div>
	</div>
</div>
<div class="categories">
	<div class="small-container">
		<h2 class="title">Sản Phẩm Nổi Bật</h2>
		<div class="row" id="featured">
		</div>
	</div>
</div>
<div class="categories">
	<div class="small-container">
		<h2 class="title">Sản Phẩm Mới Nhất</h2>
		<div class="row" id="latest">
		</div>
	</div>
</div>
<div class="testimonials">
	<h2 class="title">Chia sẽ từ khách hàng</h2>
	<div class="container">
		<div class="slider">
			<div class="slide active">
				<p>" Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Odit reiciendis quos quae repellendus. Fuga, vero! Ullam,
					nulla! Ex veniam repudiandae perferendis fugiat, illo, nis
					i sit, periores dignissimos sapiente iste. "
				</p>
				<div class="slide-info">
					<h3>John Smith</h3>
					<span>Khách Hàng</span>
				</div>
			</div>

			<div class="slide">
				<p>" Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Odit reiciendis lendus. Fuga, vero! Ullam,
					nulla! Ex veniam repudiandae perferendis fugiat, illo, nis
					i sit, esse asperiores dignissimos sapiente iste. "
				</p>
				<div class="slide-info">
					<h3>Adam Bol</h3>
					<span>Khách Hàng</span>
				</div>
			</div>

			<div class="slide">
				<p>" Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Odit reiciendis quos quae repellendus. Fuga, vero! Ullam,
					nulla! Ex veniam repudiandae perferendis fugiat, illo, nis
					i sit "
				</p>
				<div class="slide-info">
					<h3>David To</h3>
					<span>Khách Hàng</span>
				</div>
			</div>
		</div>
		<div class="slider-indicator">
			<img src="images/profile1.jpg" class="active" data-id=0>
			<img src="images/profile2.jpg" data-id=1>
			<img src="images/profile3.jpg" data-id=2>
		</div>

	</div>
</div>

<script>
	async function getFeaturedProducts() {
		// const url = 'https://coder-nhat.herokuapp.com/featuredproduct'
		 const url = 'http://localhost:3000/featuredproducts'
		try {
			const response = await axios.get(url);
			renderProduct(response.data.records,"featured")
		} catch (error) {
			console.error(error);
		}
	}

	async function getLatestsProducts() {
		// const url = 'https://coder-nhat.herokuapp.com/listjson'
		const url = 'http://localhost:3000/latestproducts'
		try {
			const response = await axios.get(url);
			renderProduct(response.data.records,"latest")
		} catch (error) {
			console.error(error);
		}
	}

	function renderProduct(products, id) {
		const listHTML = document.getElementById(id);
		try {
			let content = products.map((item) => {
				return `<div class="col-4">
        <div class="new-box">
          <img src="${item.image}">
          <div class="new-link">
            <a href="/products/view/${item._id}" class="button">XEM SẢN PHẨM</a>
          </div>
        </div>
        <p id="gia"> ${item.price.toLocaleString('de-DE', { style: 'currency', currency: 'VND' })}</p>
      </div>`
			})
			listHTML.innerHTML = content.join('');
		} catch{
		}
	}
	getFeaturedProducts();
	getLatestsProducts();
</script>