<div class="small-container single-product">
    <div class="row">
      <div class="col-2">
        <img src="<%= product.image %>">
      </div>
      <div class="col-2 write-comment">
        <form action="/comment/<%= product._id %>" method="post">
            
            <label for="write-comment">Viết nhận xét của bạn bên dưới:</label>
            <textarea name="content" id="write-comment" placeholder="Nhận xét của bạn về sản phẩm này"></textarea>
            <% if(messages.error){ %> 
            <small id="err"><%= messages.error %></small>
            <% } %> 
            <button type="submit" class="btn-add-comment">Gửi nhận xét</button>
        </form>
      </div>
    </div>
  </div>