
  <div class="container">
    <h2>Trạng thái đơn hàng</h2>
    <div class="status-text">
      <span>Mã đơn hàng: <b><%= order._id %></b></span>
      <input id="hiddenInput" type="hidden" value="<%= JSON.stringify(order) %>">
    </div>
    <div class="process-bar">
      <ul>
        <li class="status-line" data-status="dat_hang">
          <i class='bx bx1 bx-notepad'></i></i><br>
          <i class='bx bx2 bxs-circle'></i><br>
          <span>Đặt hàng thành công</span>
        </li>
       
        <li class="status-line" data-status="xac_nhan">
      <i class='bx bx1 bx-check'></i><br>
      <i class='bx bx2 bxs-circle'></i><br>
      <span>Đã tiếp nhận</span>
    
     </li>
     <li class="status-line" data-status="ban_giao">
        <i class='bx bx1 bxs-briefcase'></i><br>
        <i class='bx bx2  bxs-circle'></i><br>
        <span>Bàn giao vận chuyển</span>
       </li>
      </li>
      <li class="status-line" data-status="van_chuyen">
       <i class='bx bx1 bxs-car'></i><br>
       <i class='bx bx2  bxs-circle'></i><br>
       <span>Đang vận chuyển</span>
      </li>
      <li class="status-line" data-status="thanh_cong">
        <i class='bx bx1 bxs-happy'></i><br>
        <i class='bx bx2 bxs-circle'></i><br>
        <span>Giao hàng thành công</span>
       </li>
    </ul>
    </div>
  </div>

