<div class="account-page">
	<div class="container">
		<div class="form-container">
			<h3>Thông tin cá nhân</h3>
			<form action="/my/edit" id="changeInfo" method="POST">
				<% if(messages.error){ %> 
				<small id="err"><%= messages.error %> </small>
				<% }else{ %>
				<small id="success"><%= messages.success %></small>
				<% } %> 
				  <input type="email" disabled value="<%= user.email %>">
				  <input type="text" id="name" name="name" value="<%= user.name %>">
				  <input type="password" id="password" placeholder="Mật khẩu" name="password">
				  <input type="password" id="conf_password" placeholder="Nhập lại mật khẩu" name="conf_password">
				  <button type="submit" id="btn-changeInfo" class="btn-1">Thay đổi thông tin</button>
				  <a href="/logout">Đăng xuất</a>
			  </form>
		</div>
	</div>
</div>